:root {
  /* color-background */
  --primary-background-color: #1f1d2b;
  --secondary-background-color: #2d303e;
  --tertiary-background-color: #ea7c69;

  /* color-text */
  --primary-text-color: white;
  --secondary-text-color: #ea7c69;
  --tertiary-text-color: #abbbc2;
  --quaternary-text-color: #ea7c69;

  /* font-size */
  --font-size-medium: 20px;
  --font-size-large: 28px;

  /* line-height*/
  --line-height-xl: 28px;

  /* border-color */
  --primary-border-color: #1f1d2b;
  --secondary-border-color: #2d303e;
  --tertiary-border-color: #ea7c69;

  /* font-family */
  --primary-font-family: 'Barlow';

  /* font-weight */
  --regular-weight: 400;
  --medium-weight: 500;
  --semibold-weight: 600;
}
