.form-group {
  margin-bottom: 20px;
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--secondary-background-color);
  border-radius: 8px;
  border: none;
  outline: none;
  color: var(--primary-text-color);
  width: 445px;
  height: 45px;
}

.form-quantity {
  width: 207px;
  height: 48px;
}
