.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	color: var(--primary-text-color);
	display: none;
	align-items: center;
	justify-content: center;
}

.modal.open {
	display: flex;
}

.modal-header {
	font-size: var(--font-size-large);
	margin-bottom: 30px;
	border-bottom: 1px solid var(--secondary-background-color);
	padding-bottom: 20px;
}

.modal-container {
	width: 544px;
	max-width: calc(100% - 50px);
	height: max-content;
	padding: 40px 40px 30px 40px;
	background-color: var(--primary-background-color);
	font-family: var(--primary-font-family);
	border-radius: 16px;
}

.modal-footer {
	display: flex;
	margin-top: 40px;
	justify-content: space-between;
}
